[Unit]
Requires=network.target
PartOf=scaledesk.target

[Service]
Type=simple
User=digifortsys
WorkingDirectory=/home/digifortsys/Documents/linux_vm/scaledesk

ExecStart=/bin/bash -lc 'dotenv bundle exec sidekiq -C config/sidekiq.yml'

Restart=always
RestartSec=1
TimeoutStopSec=30
KillMode=mixed
StandardInput=null
SyslogIdentifier=%p

MemoryMax=1.2G
MemoryHigh=infinity
MemorySwapMax=0
OOMPolicy=stop

Environment="PATH=/usr/local/rvm/gems/ruby-3.4.4/bin:/usr/local/rvm/gems/ruby-3.4.4@global/bin:/usr/local/rvm/rubies/ruby-3.4.4/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/local/rvm/bin"
Environment="PORT=3000"
Environment="RAILS_ENV=production"
Environment="NODE_ENV=production"
Environment="RAILS_LOG_TO_STDOUT=true"
Environment="GEM_HOME=/usr/local/rvm/gems/ruby-3.4.4"
Environment="GEM_PATH=/usr/local/rvm/gems/ruby-3.4.4:/usr/local/rvm/gems/ruby-3.4.4@global"
